[core]
	autocrlf = false
	editor = code --wait

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[init]
	defaultBranch = main

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED
